@charset "utf-8";



/* -------------------- 
 mobileview
 ---------------------*/
.appviews {
  display: flex;
  flex-wrap: wrap;
}

.mobileview {
  position: relative;
  width: 375px;
  height: 667px;
  margin: 20px;
  overflow: hidden;
}

.mobileview-des {
  margin: 20px 0 0 0;
}
