@charset "utf-8";

// .ca-input > span > input{
//   border: none !important;
//   box-shadow: none !important;
//   background-color: #fff;
// }

/* -------------------- 
 yellow
 ---------------------*/
.ca-textarea.-yellow {
  flex: 1;
  & > span {
    & > textarea {
      background-color: #fff7d6;
      box-shadow: none;
      border: solid 1px transparent !important;
    }
  }
}

.ca-input.-yellow {
  & > span {
    & > input {
      background-color: #fff7d6;
      box-shadow: none;
      border: solid 1px transparent !important;
    }
  }
}

.ca-input.-white {
  & > span {
    & > input {
      background-color: #fff;
      box-shadow: none !important;
      border: solid 1px transparent !important;
    }
  }
}

.btn-remove-cross{
  background-color: #d9c84e;
}
