@charset "utf-8";

@import '../../node_modules/camaleao-design/css/reset.css';
@import '../../node_modules/camaleao-design/css/camaleao.css';
@import './mixins.scss';
@import './variables.scss';

html {
  touch-action: manipulation;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

ul {
  padding: 0;
  margin: 0;


}

a {
  cursor: pointer;
}

:root {
  // toast
  --toast-bg-color: #ac9934;
  // tag
  --tag-padding-small: 2px 6px;
  --tag-fontsize-small: 10px;
  --tag-radius-small: 6px;
  // modal
  --modal-bg-color: #f0e7a6;
  --modal-bg-img: url('/img/subtle-dark-vertical.png');
  // sidemenu
  --modal-sidemenu-width: 70%;
  --modal-sidemenu-scroll-bg-color: #d2bd28;
  --modal-sidemenu-padding: 0px;
}

.app {
  position: absolute;
  display: grid;
  grid-template-rows: min-content auto min-content;
  overflow: hidden;
  padding: 0;
  background-color: var(--app-bg-color);
  background-image: url('/img/subtle-dark-vertical.png');
  height: 100%;
  width: 100%;
}

.view {
  --app-base-color2: #d2bd28;
  --app-base-color: #d9c84e;
  --app-bg-color: #fbecad;
  --app-icon-size: 30px;
  --app-comment-color: #666;
  --app-color-red: #ff3366;
  --app-color-dark: #57591d;

  // override
  --button-label-color: #57591d;
  --badge-bg-color: #ff3399;
  --badge-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9);
  --button-border: none;

  --modalview-header-bgcolor: #d2bd28;
  --modalview-header-color: #fff;
  --modalview-header-fontsize: 16px;
  --modalview-bg-color: #d2bd28;
}

.app input {
  outline: none;
  color: #666;
}

/* -------------------- 
 parts
 ---------------------*/
.chat-usericon {
  width: var(--app-icon-size);
  height: var(--app-icon-size);
  border-radius: calc(var(--app-icon-size) / 2);
}

.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  margin: 30px auto;
}

.btn-header-action[disabled] {
  opacity: 0.4;
}

/* -------------------- 
 Ionicons
 ---------------------*/
ion-icon {
  color: #7e7020;

  font-size: 24px;
  fill: currentColor;
}

/* -------------------- 
 modal view
 ---------------------*/
.view-orange {
  .ca-modalview {
    background-color: #ddcd61;
    background-image: url('/img/subtle-dark-vertical.png');
  }
}

.view-about {
  background-color: transparent;

  .ca-modalview {
    background-color: #ddcd61;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: solid 4px #666 !important;
      pointer-events: none;
    }
  }
}

.view-activitylist {
  --modalview-body-padding: 0;
}

/* -------------------- 
 ca-button
 ---------------------*/
.ca-button.-positive {
  border: solid 1px #d5cc92 !important;
}

// じっけん
.ca-input {
  input {
    font-size: 16px !important;
  }
}