@charset "utf-8";

@font-face {
  font-display: swap;
  font-family: 'Nico Moji';
  // src: url(/path/to/fonts/examplefont.woff) format('woff');
  src: local('Helvetica Neue Bold');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

@import '../../node_modules/camaleao-design/css/reset.css';
@import '../../node_modules/camaleao-design/css/camaleao.css';
@import './_mixins.scss';
@import './_variables.scss';
@import './_modal.scss';
@import './_yall.scss';
@import './_form.scss';

*,
*::before,
*::after {
  touch-action: manipulation;
}

html {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  user-select: none;
}
.wf-nicomoji {
  font-family: 'Nico Moji';
}

a {
  cursor: pointer;
}
a[disabled] {
  opacity: 0.3;
}

:root {
  --ok: #aeaf6c;
  // toast
  --toast-bg-color: #ac9934;
  // tag
  --tag-padding-small: 2px 6px;
  --tag-fontsize-small: 10px;
  --tag-radius-small: 6px;
  // modal
  --modal-bg-color: #f0e7a6;
  --modal-bg-img: none;
  --modalbody-header-color: #aeaf6c;
  // sidemenu
  --modal-sidemenu-width: 70%;
  --modal-sidemenu-scroll-bg-color: #d2bd28;
  --modal-sidemenu-padding: 0px;
  // textarea
  --form-textarea-width-normal: 100%;
  --form-shadow: none;
  // button
  --button-radius: 16px;
  --button-shadow: 0 0 2px 1px rgba(51, 51, 51, 0.15);
  // switch
  --switch-color-bg: #fff;
  --switch-color-bg-checked: #ac9934;
  --switch-color-circle: #f0e7a6;
  --switch-color-circle1: #f0e7a6;
  --switch-color-circle2: #fff;
}

.app {
  position: absolute;
  display: grid;
  grid-template-rows: min-content auto min-content;
  overflow: hidden;
  padding: 0;
  background-color: var(--app-bg-color);
  background-image: url('/img/subtle-dark-vertical.png');
  height: 100%;
  width: 100%;
}

.view {
  --app-base-color2: #d2bd28;
  --app-base-color: #d9c84e;
  --app-bg-color: #fbecad;
  --app-icon-size: 30px;
  --app-comment-color: #666;
  --app-color-red: #ff3366;
  --app-color-dark: #57591d;

  // override
  --button-label-color: #57591d;
  --badge-bg-color: #ff3399;
  --badge-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9);
  --button-border: none;

  --modalview-header-bgcolor: #d2bd28;
  --modalview-header-color: #fff;
  --modalview-header-fontsize: 16px;
  --modalview-bg-color: #d2bd28;
}

.app input {
  outline: none;
  color: #666;
}

/* -------------------- 
 parts
 ---------------------*/
.firebase-emulator-warning {
  opacity: 0.2;
  pointer-events: none;
}

.chat-usericon {
  width: var(--app-icon-size);
  height: var(--app-icon-size);
  border-radius: calc(var(--app-icon-size) / 2);
}

.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  margin: 30px auto;
}

.btn-header-action[disabled] {
  opacity: 0.4;
}

.btn-header {
  &[disabled] {
    opacity: 0.4;
  }
  ion-icon {
    vertical-align: middle;
  }
}

.btn-text {
  font-size: var(--fontsize-normal);
  color: var(--app-color-dark);
  &.-danger {
    color: var(--app-color-red);
  }
}

.alert-text {
  color: var(--app-color-red);
  font-size: var(--tag-fontsize-normal);
}
.text {
  font-size: var(--fontsize-normal);
  color: var(--app-color-dark);
  &.-white {
    color: #fff;
  }
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--app-base-color2);
  font-size: var(--fontsize-large);
  margin-bottom: 20px;
  ion-icon {
    color: inherit;
  }
  &.-center {
    justify-content: center;
  }
}
.notice-area {
  padding: 20px 0 20px;
  text-align: center;
  background-color: rgba(#fff, 0.2);
  border-radius: 20px;
  width: 260px;
  ion-icon {
    color: #fff;
    margin-bottom: 10px;
  }
  &.-gray {
    background-color: rgba(#000, 0.2);
  }
}

/* -------------------- 
 Ionicons
 ---------------------*/
ion-icon {
  color: #7e7020;

  font-size: 24px;
  fill: currentColor;
}

/* -------------------- 
 modal view
 ---------------------*/
.view-orange {
  .ca-modalview {
    background-color: #ddcd61;
    background-image: url('/img/subtle-dark-vertical.png');
  }
}

.view-activitylist {
  --modalview-body-padding: 0;
}

/* -------------------- 
 ca-button
 ---------------------*/
.ca-button.-positive {
  border: solid 1px #d5cc92 !important;
}
.ca-button.-danger {
  box-shadow: none !important;
  border: none !important;
}

/* -------------------- 
 ca-toast
 ---------------------*/
.toast-holder {
  pointer-events: none;
}

.ca-inputline {
  padding-bottom: 10px;
}
